.title{
  padding: 100px 0px 0px 0px;
    font-family: Courgette;
    color: rgb(49, 84, 138);
    text-align: center;
    font-size: 80px;
    font-style: italic;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px ;
}

.sub-title{
  padding: 10px 0px 0px 0px;
    font-family: Courgette;
    color: rgb(101, 163, 255);
    text-align: center;
    font-size: 40px;
    font-style: italic;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px ;
}

.navs{
  float: right;
}
.nav-links{
  border: 1px;
  border-radius:20px;
  padding: 5px 10px;
  text-decoration: none;
  color:rgb(64, 65, 119);
  background-color: rgb(252, 252, 252);
  margin:0px 5px;
  
}
.nav-links:hover{
  color:rgb(255, 255, 255);
  background-color: rgb(64, 65, 119);
}
.pagination {
display: inline-block;
}

.pagination a {
color: rgb(255, 255, 255);
float: left;
padding: 8px 16px;
text-decoration: none;
}

.pagination a.active {
background-color: #ff9900;
color: white;
border-radius: 5px;
}

.pagination a:hover:not(.active) {
background-color: #ddd;
border-radius: 5px;
}
.main-body{
  background-image:url('https://assets.aboutamazon.com/dims4/default/81d15ae/2147483647/strip/true/crop/1277x720+1+0/resize/660x372!/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fb0%2F11%2F19c70d4b401aab89bf626a39b935%2Famazon-store.jpg');
  padding: 0px;
}
.loggs{
  width: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: rgb(49, 44, 126);
}

/*drop down style*/
.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(64, 65, 119);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  
  border: 1px;
  border-radius:20px;
  padding: 5px 10px;
  text-decoration: none;
  color:rgb(64, 65, 119);
  background-color: rgb(252, 252, 252);
  margin:0px 5px;
  display: block;
}

.dropdown-content a:hover {
  color:rgb(255, 255, 255);
  background-color: rgb(64, 65, 119);}

.dropdown:hover .dropdown-content {
  display: block;
}
.login-div{
  height:500px;
  width: 80%;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJk90rd0mUvgaqYrKXbb6F3yClo4V2V-FgRw&usqp=CAU');
  background-size: cover;
  margin:10% 10%;
  position: relative;
  border-radius: 10px;
  background-size: cover;
}
.login-form{
  position: absolute;
  border: 2px;
  border-color: white;
  background-image: url('https://wallpapers.com/images/hd/solid-blue-green-color-j5btz440wgdbb1hn.jpg');
  background-size: cover;
  color:white;
  top: 20%;
  bottom: 20%;
  right: 20%;
  padding: 5% 10%;
  border: 5px;
  box-shadow: rgb(72, 72, 145) 10px 10px 10px;
  border-radius: 15px;
}
.text{
  border: none;
  padding: 5px 10px;
  border-style: solid;
  border-radius:10px;
  box-shadow: #b9abab 2px 2px 5px;
  border-color: white;
  
}
.submit{
  color: white;
  background-color:rgb(72, 72, 145);
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  border-color: navajowhite;
}

.submit:hover{
  background-color: rgb(115, 115, 177);
  color:rgb(255, 255, 255);
}

.register-div{
  height:900px;
  width: 80%;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJk90rd0mUvgaqYrKXbb6F3yClo4V2V-FgRw&usqp=CAU');
  background-size: cover;
  margin:5% 10%;
  position: relative;
  border-radius: 10px;
  background-size: cover;
}
.register-form{
  position: absolute;
  border: 2px;
  border-color: white;
  background-image: url('https://wallpapers.com/images/hd/solid-blue-green-color-j5btz440wgdbb1hn.jpg');
  background-size: cover;
  color:white;
  top: 20%;
  bottom: 10%;
  right: 20%;
  padding: 5% 10%;
  border: 5px;
  box-shadow: rgb(72, 72, 145) 10px 10px 10px;
  border-radius: 15px;
}

