.login-div{
  height:500px;
  width: 80%;
  background-image: url('https://plus.unsplash.com/premium_photo-1678820984989-2308552dd6ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cG9ydGZvbGlvfGVufDB8fDB8fHww&w=1000&q=80');
  background-size: cover;
  margin:0% 10%;
  position: relative;
  border-radius: 10px;
  background-size: cover;
}
.login-form{
  position: absolute;
  border: 2px;
  border-color: white;
  background-image: url('https://wallpapers.com/images/hd/solid-blue-green-color-j5btz440wgdbb1hn.jpg');
  background-size: cover;
  color:white;
  top: 20%;
  bottom: 20%;
  right: 20%;
  padding: 5% 10%;
  border: 5px;
  box-shadow: rgb(72, 72, 145) 10px 10px 10px;
  border-radius: 15px;
}
.text{
  border: none;
  padding: 5px 10px;
  border-style: solid;
  border-radius:10px;
  box-shadow: #b9abab 2px 2px 5px;
  border-color: white;
  
}
.submit{
  color: white;
  background-color:rgb(72, 72, 145);
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  border-color: navajowhite;
}

.submit:hover{
  background-color: rgb(115, 115, 177);
  color:rgb(255, 255, 255);
}