<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Sans+KR&display=swap" rel="stylesheet">
   
</head>
<body style="font-family: Courgette;color: rgb(255, 255, 255);background: radial-gradient(white,blue);">
  <div class="login-div" style="height:610px;width: auto;">
  <h1 class="title" align="center">Welcome to my portfolio <br> </h1><div align="center"><h2 class="sub-title">Easy Way to Create Your Amazing Portfolio</h2></div><br>
  </div>
</body>
</html>
